.grid-container {
    display: grid;
    grid-template: repeat(16, 20px) / repeat(16, 20px);
    row-gap: 2px;
    column-gap: 2px;
    border-style: groove;
    border-color: orangered;
    border-width: 20px; 
    max-width: 960px;
    max-height: 960px;
}

.cell {
    display: grid;
    width: 18px;
    height: 18px;
    background-color: blue;
    border: solid;
    border-width: 2px;
    border-color: black;
}

.reset {
    max-width: fit-content;
    align-self: center;
}

.container {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
}

html {

}

body {
    display: flex;
}